 
{% extends 'base.html' %}
{% block conteudo %}
    <h1>Insere</h1>
    <form action="/home/function/insert" method="post">
    {% csrf_token %}
    <label>Nome</label>
    <input name="name" type="text">
    <br><br>
    <label>Locação</label>
    <input  name="location" type="text">
    <br><br>
    <label>Profissão</label>
    <input  name="role" type="text">
    <br><br>    
    <label>Apelidos</label>
    <input  name="fulname" type="text">
    <br><br>    
    <button type="submit" class="btn btn-sucess" role="button">Fazer Inserção no Riak</button>
{% endblock %}