{% extends 'base.html' %}

{% block conteudo %}
  <h1>Lista de Inserções</h1>

  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Locação</th>
      <th scope="col">Profissão</th>
      <th scope="col">Apelidos</th>      
    </tr>
  </thead>
  <tbody>  
  {% for usuario in usuarios %}
  	<tr>
  		<th scope="row">{{usuario.name}}</th>
  		<td>{{ usuario.location }}</td>
        <td>{{ usuario.role}}</td>
        <td>{{ usuario.fullname}}</td>
  		<td> 
  {% endfor %}         
  </tbody>
</table>
{% endblock %}